body {
    scroll-behavior: smooth;
}

.nav-bg {
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.11), rgba(0, 0, 155, 0.11) 50%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.11), rgba(0, 0, 155, 0.11) 50%);
    background: linear-gradient(to 90deg, rgba(255, 255, 255, 0.11), rgba(0, 0, 155, 0.11) 50%);
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0);
}

html,
body,
header {
    height: 100%;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

/* Custom Margins and Padding */
.cm-1 {
    margin: 5%;
}

.cm-2 {
    margin: 10%;
}

.cp-1 {
    padding: 2.5%;
}

.cp-2 {
    padding: 5%;
}

.cp-2 {
    padding: 10%;
}

.custom-card .card-body {
    padding: 0px;
    margin: 0px;
}

.custom-card-footer {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 255, 255, 0.25);
    width: 100%;
}

.custom-card .card-title {
    padding: 5%;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
}

.custom-card .card-text {
    padding: 5%;
    text-align: justify;
    padding-top: 0px;
}

.custom-icons {
    color: #4267b2;
}

.custom-landscape-card {
    width: 98%;
    min-height: 50vh;
    max-height: 100vh;
    border-radius: 10px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.5 ease-in-out;
}

.footer-social-media,
.navbar-background {
    width: 100;
    transition: 0.6s;
    background-size: 200%;
    background-image: linear-gradient(to left, #0000bb, #0000ff, #0000aa, #330867, #0000bb);
}

.footer-social-media:hover,
.navbar-background:hover {
    background-position: right;
}





.scrollbar {
    height: 100vh;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547;
}

.scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800;
}

.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
}

.scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5;
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD;
}

.scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc;
}

/* morpheus den MDB scrollbar */
.scrollbar-morpheus-den::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-morpheus-den::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
    background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/* deep blue MDB Scrollbar */
.scrollbar-deep-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-deep-blue::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-deep-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
